.theme-minimal {
  --background: oklch(1 0.02 0.25);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0.02 0.25);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0.02 0.25);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.869 0.022 252.894);
  --link: oklch(0.6 0.1205 257.04);
  --overlay: oklch(0% 0 0 / 0.8);
  --shadow: 0.5px 0.5px 0px 0px var(--border);
  --boxShadowX: 0px;
  --boxShadowY: 0px;
  --reverseBoxShadowX: 0px;
  --reverseBoxShadowY: 0px;
  --radius: 0.775rem;
  @variant dark {
    --background: oklch(0.129 0.042 264.695);
    --foreground: oklch(0.984 0.003 247.858);
    --card: oklch(0.129 0.042 264.695);
    --card-foreground: oklch(0.984 0.003 247.858);
    --popover: oklch(0.129 0.042 264.695);
    --popover-foreground: oklch(0.984 0.003 247.858);
    --primary: oklch(0.984 0.003 247.858);
    --primary-foreground: oklch(0.208 0.042 265.755);
    --secondary: oklch(0.279 0.041 260.031);
    --secondary-foreground: oklch(0.984 0.003 247.858);
    --muted: oklch(0.279 0.041 260.031);
    --muted-foreground: oklch(0.704 0.04 256.788);
    --accent: oklch(0.279 0.041 260.031);
    --accent-foreground: oklch(0.984 0.003 247.858);
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(0.637 0.237 25.331);
    --border: oklch(0.279 0.041 260.031);
    --input: oklch(0.279 0.041 260.031);
    --ring: oklch(0.446 0.043 257.281);
    --link: oklch(0.78 0.1126 258.15);
    --shadow: 0.5px 0.5px 0px 0px var(--border);
  }
}

.theme-brutalist {
  --background: oklch(93.46% 0.0305 255.11);
  --foreground: oklch(20% 0.01 260);
  --card: oklch(67.47% 0.1726 259.49);
  --card-foreground: oklch(0% 0 0);
  --popover: oklch(67.47% 0.1726 259.49);
  --popover-foreground: oklch(0% 0 0);
  --primary: oklch(67.47% 0.1726 259.49);
  --primary-foreground: oklch(0% 0 0);
  --secondary: oklch(100% 0 0);
  --secondary-foreground: oklch(0% 0 0);
  --muted: oklch(88% 0.02 255);
  --muted-foreground: oklch(40% 0.03 260);
  --accent: oklch(65% 0.08 260);
  --accent-foreground: oklch(10% 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0% 0 0);
  --border: oklch(0% 0 0);
  --input: oklch(0.928 0.006 264.531);
  --ring: oklch(0% 0 0);
  --link: oklch(0.6 0.1205 257.04);
  --shadow: 4px 4px 0px 0px var(--border);
  --boxShadowX: 4px;
  --boxShadowY: 4px;
  --reverseBoxShadowX: -4px;
  --reverseBoxShadowY: -4px;
  --radius: 0.375rem;
  @variant dark {
    --background: oklch(29.23% 0.0626 270.49);
    --foreground: oklch(85% 0.01 270);
    --card: oklch(67.47% 0.1726 259.49);
    --card-foreground: oklch(0% 0 0);
    --popover: oklch(67.47% 0.1726 259.49);
    --popover-foreground: oklch(0% 0 0);
    --primary: oklch(67.47% 0.1726 259.49);
    --primary-foreground: oklch(0% 0 0);
    --secondary: oklch(23.93% 0 0);
    --secondary-foreground: oklch(92.49% 0 0);
    --muted: oklch(35% 0.04 270);
    --muted-foreground: oklch(75% 0.02 260);
    --accent: oklch(65% 0.08 260);
    --accent-foreground: oklch(95% 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --destructive-foreground: oklch(92.49% 0 0);
    --border: oklch(0% 0 0);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(100% 0 0);
    --shadow: 4px 4px 0px 0px var(--border);
  }
}

.theme-canopy {
  --background: oklch(0.88 0.05 91.79);
  --foreground: oklch(0.43 0.03 59.22);
  --card: oklch(0.89 0.04 87.57);
  --card-foreground: oklch(0.43 0.03 59.22);
  --popover: oklch(0.94 0.03 89.85);
  --popover-foreground: oklch(0.43 0.03 59.22);
  --primary: oklch(0.67 0.11 118.91);
  --primary-foreground: oklch(0.99 0.01 88.64);
  --secondary: oklch(0.85 0.06 91.15);
  --secondary-foreground: oklch(0.43 0.03 59.22);
  --muted: oklch(0.85 0.06 91.15);
  --muted-foreground: oklch(0.58 0.03 60.93);
  --accent: oklch(0.84 0.07 90.33);
  --accent-foreground: oklch(0.43 0.03 59.22);
  --destructive: oklch(0.71 0.1 29.98);
  --destructive-foreground: oklch(0.98 0.01 91.48);
  --border: oklch(0.69 0.04 59.84);
  --input: oklch(0.84 0.07 90.33);
  --ring: oklch(0.73 0.06 130.85);
  --link: oklch(0.6 0.1205 257.04);
  --shadow: 1px 1px 0px 0px var(--border);
  --boxShadowX: 1px;
  --boxShadowY: 1px;
  --reverseBoxShadowX: -1px;
  --reverseBoxShadowY: -1px;
  --radius: 0.725rem;
  @variant dark {
    --background: oklch(0.33 0.02 88.07);
    --foreground: oklch(0.92 0.02 82.12);
    --card: oklch(0.36 0.02 82.33);
    --card-foreground: oklch(0.92 0.02 82.12);
    --popover: oklch(0.36 0.02 82.33);
    --popover-foreground: oklch(0.92 0.02 82.12);
    --primary: oklch(0.68 0.06 132.45);
    --primary-foreground: oklch(0.27 0.01 61.02);
    --secondary: oklch(0.44 0.02 84.55);
    --secondary-foreground: oklch(0.92 0.02 82.12);
    --muted: oklch(0.39 0.02 82.71);
    --muted-foreground: oklch(0.71 0.02 73.62);
    --accent: oklch(0.65 0.07 90.76);
    --accent-foreground: oklch(0.27 0.01 61.02);
    --destructive: oklch(0.63 0.08 31.3);
    --destructive-foreground: oklch(0.94 0.02 84.59);
    --border: oklch(0.44 0.02 84.55);
    --input: oklch(0.44 0.02 84.55);
    --ring: oklch(0.68 0.06 132.45);
    --link: oklch(0.78 0.1126 258.15);
    --shadow: 1px 1px 0px 0px var(--border);
  }
}

.theme-serene {
  --background: oklch(0.96 0.01 100.82);
  --foreground: oklch(0.34 0.03 95.72);
  --card: oklch(0.92 0.02 90.55);
  --card-foreground: oklch(0.34 0.03 95.72);
  --popover: oklch(0.92 0.02 99.61);
  --popover-foreground: oklch(0.27 0.02 98.94);
  --primary: oklch(0.56 0.13 43);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.85 0.05 298.88);
  --secondary-foreground: oklch(0.43 0.02 98.6);
  --muted: oklch(0.93 0.02 90.24);
  --muted-foreground: oklch(0.5 0.02 98.53);
  --accent: oklch(0.88 0.03 93.13);
  --accent-foreground: oklch(0.27 0.02 98.94);
  --destructive: oklch(0.64 0.21 25.33);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.86 0.01 97.47);
  --input: oklch(0.76 0.02 98.35);
  --ring: oklch(0.59 0.17 253.06);
  --link: oklch(0.6 0.1205 257.04);
  --shadow: 0.5px 0.5px 0px 0px var(--border);
  --boxShadowX: 0.5px;
  --boxShadowY: 0.5px;
  --reverseBoxShadowX: -0.5px;
  --reverseBoxShadowY: -0.5px;
  --radius: 0.575rem;
  @variant dark {
    --background: oklch(0.29 0.01 106.73);
    --foreground: oklch(0.92 0 106.48);
    --card: oklch(0.25 0.01 91.6);
    --card-foreground: oklch(0.92 0 106.48);
    --popover: oklch(0.24 0.01 95.37);
    --popover-foreground: oklch(0.92 0 106.48);
    --primary: oklch(0.56 0.13 43);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.28 0.05 290.5);
    --secondary-foreground: oklch(0.84 0.01 93.59);
    --muted: oklch(0.27 0.01 91.58);
    --muted-foreground: oklch(0.77 0.02 99.07);
    --accent: oklch(0.21 0.01 95.42);
    --accent-foreground: oklch(0.97 0.01 98.88);
    --destructive: oklch(0.64 0.21 25.33);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.36 0.01 106.89);
    --input: oklch(0.43 0.01 100.22);
    --ring: oklch(0.59 0.17 253.06);
    --link: oklch(0.78 0.1126 258.15);
    --shadow: 1px 1px 0px 0px var(--border);
  }
}

.theme-organic {
  --background: oklch(0.92 0 48.72);
  --foreground: oklch(0.28 0.04 260.03);
  --card: oklch(0.97 0 106.42);
  --card-foreground: oklch(0.28 0.04 260.03);
  --popover: oklch(0.97 0 106.42);
  --popover-foreground: oklch(0.28 0.04 260.03);
  --primary: oklch(0.59 0.2 277.12);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.87 0 56.37);
  --secondary-foreground: oklch(0.45 0.03 256.8);
  --muted: oklch(0.92 0 48.72);
  --muted-foreground: oklch(0.55 0.02 264.36);
  --accent: oklch(0.94 0.03 321.94);
  --accent-foreground: oklch(0.37 0.03 259.73);
  --destructive: oklch(0.64 0.21 25.33);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.87 0 56.37);
  --input: oklch(0.87 0 56.37);
  --ring: oklch(0.59 0.2 277.12);
  --link: oklch(0.6 0.1205 257.04);
  --shadow: 0px 0px 0px 0px var(--border);
  --boxShadowX: 0px;
  --boxShadowY: 0px;
  --reverseBoxShadowX: 0px;
  --reverseBoxShadowY: 0px;
  --radius: 0.775rem;
  @variant dark {
    --background: oklch(0.22 0.01 67.44);
    --foreground: oklch(0.93 0.01 255.51);
    --card: oklch(0.28 0.01 59.34);
    --card-foreground: oklch(0.93 0.01 255.51);
    --popover: oklch(0.28 0.01 59.34);
    --popover-foreground: oklch(0.93 0.01 255.51);
    --primary: oklch(0.68 0.16 276.93);
    --primary-foreground: oklch(0.22 0.01 67.44);
    --secondary: oklch(0.34 0.01 59.42);
    --secondary-foreground: oklch(0.87 0.01 258.34);
    --muted: oklch(0.28 0.01 59.34);
    --muted-foreground: oklch(0.71 0.02 261.32);
    --accent: oklch(0.39 0.01 59.47);
    --accent-foreground: oklch(0.87 0.01 258.34);
    --destructive: oklch(0.64 0.21 25.33);
    --destructive-foreground: oklch(0.22 0.01 67.44);
    --border: oklch(0.34 0.01 59.42);
    --input: oklch(0.34 0.01 59.42);
    --ring: oklch(0.68 0.16 276.93);
    --link: oklch(0.78 0.1126 258.15);
    --shadow: 0px 0px 0px 0px var(--border);
  }
}

.theme-pixel {
  --background: oklch(0.97 0.03 90.1);
  --foreground: oklch(0.31 0.05 219.65);
  --card: oklch(0.93 0.03 92.4);
  --card-foreground: oklch(0.31 0.05 219.65);
  --popover: oklch(0.93 0.03 92.4);
  --popover-foreground: oklch(0.31 0.05 219.65);
  --primary: oklch(0.59 0.2 355.89);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.64 0.1 187.38);
  --secondary-foreground: oklch(0.31 0.05 219.65);
  --muted: oklch(0.7 0.02 196.79);
  --muted-foreground: oklch(0.31 0.05 219.65);
  --accent: oklch(0.58 0.17 39.5);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.59 0.21 27.12);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.65 0.02 205.26);
  --input: oklch(0.65 0.02 205.26);
  --ring: oklch(0.59 0.2 355.89);
  --link: oklch(0.6 0.1205 257.04);
  --shadow: 2.5px 2.5px 0px 0px var(--border);
  --boxShadowX: 2.5px;
  --boxShadowY: 2.5px;
  --reverseBoxShadowX: -2.5px;
  --reverseBoxShadowY: -2.5px;
  --radius: 0.5rem;
  @variant dark {
    --background: oklch(0.27 0.05 219.82);
    --foreground: oklch(0.7 0.02 196.79);
    --card: oklch(0.31 0.05 219.65);
    --card-foreground: oklch(0.7 0.02 196.79);
    --popover: oklch(0.31 0.05 219.65);
    --popover-foreground: oklch(0.7 0.02 196.79);
    --primary: oklch(0.59 0.2 355.89);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.64 0.1 187.38);
    --secondary-foreground: oklch(1 0 0);
    --muted: oklch(0.52 0.03 219.14);
    --muted-foreground: oklch(0.7 0.02 196.79);
    --accent: oklch(0.58 0.17 39.5);
    --accent-foreground: oklch(1 0 0);
    --destructive: oklch(0.59 0.21 27.12);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.52 0.03 219.14);
    --input: oklch(0.52 0.03 219.14);
    --ring: oklch(0.59 0.2 355.89);
    --link: oklch(0.78 0.1126 258.15);
    --shadow: 3px 3px 0px 0px var(--border);
  }
}

.theme-vintage {
  --background: oklch(0.96 0.02 90.24);
  --foreground: oklch(0.38 0.02 64.34);
  --card: oklch(0.99 0.01 87.47);
  --card-foreground: oklch(0.38 0.02 64.34);
  --popover: oklch(0.99 0.01 87.47);
  --popover-foreground: oklch(0.38 0.02 64.34);
  --primary: oklch(0.62 0.08 65.54);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.88 0.03 85.57);
  --secondary-foreground: oklch(0.43 0.03 64.93);
  --muted: oklch(0.92 0.02 83.06);
  --muted-foreground: oklch(0.54 0.04 71.17);
  --accent: oklch(0.83 0.04 88.81);
  --accent-foreground: oklch(0.38 0.02 64.34);
  --destructive: oklch(0.55 0.14 32.91);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.86 0.03 84.59);
  --input: oklch(0.86 0.03 84.59);
  --ring: oklch(0.62 0.08 65.54);
  --link: oklch(0.6 0.1205 257.04);
  --shadow: 0px 0px 1px 1px var(--border);
  --boxShadowX: 0px;
  --boxShadowY: 0px;
  --reverseBoxShadowX: 0px;
  --reverseBoxShadowY: 0px;
  --radius: 0.625rem;
  @variant dark {
    --background: oklch(0.27 0.01 57.65);
    --foreground: oklch(0.92 0.02 83.06);
    --card: oklch(0.32 0.02 59.06);
    --card-foreground: oklch(0.92 0.02 83.06);
    --popover: oklch(0.32 0.02 59.06);
    --popover-foreground: oklch(0.92 0.02 83.06);
    --primary: oklch(0.73 0.06 66.7);
    --primary-foreground: oklch(0.27 0.01 57.65);
    --secondary: oklch(0.38 0.02 57.13);
    --secondary-foreground: oklch(0.92 0.02 83.06);
    --muted: oklch(0.32 0.02 59.06);
    --muted-foreground: oklch(0.8 0.02 82.11);
    --accent: oklch(0.42 0.03 56.34);
    --accent-foreground: oklch(0.92 0.02 83.06);
    --destructive: oklch(0.55 0.14 32.91);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.38 0.02 57.13);
    --input: oklch(0.38 0.02 57.13);
    --ring: oklch(0.73 0.06 66.7);
    --link: oklch(0.78 0.1126 258.15);
    --shadow: 0px 0px 1px 1px var(--border);
  }
}

.theme-union {
  --background: oklch(0.98 0.01 270);
  --foreground: oklch(0.2 0.01 270);
  --card: oklch(0.98 0.01 270);
  --card-foreground: oklch(0.2 0.01 270);
  --popover: oklch(0.98 0.01 270);
  --popover-foreground: oklch(0.2 0.01 270);
  --primary: oklch(0.62 0.24 27);
  --primary-foreground: oklch(0.95 0.01 270);
  --secondary: oklch(0.56 0.2 265);
  --secondary-foreground: oklch(0.2 0.01 270);
  --muted: oklch(0.9 0.01 270);
  --muted-foreground: oklch(0.45 0.03 270);
  --accent: oklch(0.9 0.01 270);
  --accent-foreground: oklch(0.2 0.01 270);
  --destructive: oklch(0.55 0.2 25);
  --destructive-foreground: oklch(0.95 0.01 270);
  --border: oklch(0.85 0.01 270);
  --input: oklch(0.85 0.01 270);
  --ring: oklch(0.62 0.24 27);
  --link: oklch(0.6 0.1205 257.04);
  --shadow: 0px 0px 0px 0px var(--border);
  --boxShadowX: 0px;
  --boxShadowY: 0px;
  --reverseBoxShadowX: 0px;
  --reverseBoxShadowY: 0px;
  --radius: 0.5rem;
  @variant dark {
    --background: oklch(0.2 0.01 270);
    --foreground: oklch(0.95 0.01 270);
    --card: oklch(0.2 0.01 270);
    --card-foreground: oklch(0.95 0.01 270);
    --popover: oklch(0.2 0.01 270);
    --popover-foreground: oklch(0.95 0.01 270);
    --primary: oklch(0.62 0.24 27);
    --primary-foreground: oklch(0.95 0.01 270);
    --secondary: oklch(0.56 0.2 265);
    --secondary-foreground: oklch(0.95 0.01 270);
    --muted: oklch(0.3 0.01 270);
    --muted-foreground: oklch(0.6 0.03 270);
    --accent: oklch(0.3 0.01 270);
    --accent-foreground: oklch(0.95 0.01 270);
    --destructive: oklch(0.55 0.2 25);
    --destructive-foreground: oklch(0.95 0.01 270);
    --border: oklch(0.3 0.01 270);
    --input: oklch(0.3 0.01 270);
    --ring: oklch(0.62 0.24 27);
    --link: oklch(0.78 0.1126 258.15);
    --shadow: 0px 0px 0px 0px var(--border);
  }
}

.theme-pastel {
  --background: oklch(0.937 0.02 210);
  --foreground: oklch(0.23 0.03 210);
  --card: oklch(0.937 0.02 210);
  --card-foreground: oklch(0.23 0.03 210);
  --popover: oklch(0.937 0.02 210);
  --popover-foreground: oklch(0.23 0.03 210);
  --primary: oklch(0.77 0.07 290);
  --primary-foreground: oklch(0.99 0.1 290);
  --secondary: oklch(0.82 0.06 180);
  --secondary-foreground: oklch(0.23 0.04 180);
  --muted: oklch(0.86 0.02 210);
  --muted-foreground: oklch(0.41 0.03 210);
  --accent: oklch(0.86 0.02 210);
  --accent-foreground: oklch(0.23 0.03 210);
  --destructive: oklch(0.73 0.08 0);
  --destructive-foreground: oklch(0.96 0.01 0);
  --border: oklch(0.805 0.02 210);
  --input: oklch(0.805 0.02 210);
  --ring: oklch(0.77 0.07 290);
  --link: oklch(0.6 0.1205 257.04);
  --shadow: 0px 0px 0px 0px var(--border);
  --boxShadowX: 1px;
  --boxShadowY: 1px;
  --reverseBoxShadowX: -1px;
  --reverseBoxShadowY: -1px;
  --radius: 0.875rem;
  @variant dark {
    --background: oklch(0.16 0.02 210);
    --foreground: oklch(0.77 0.07 290);
    --card: oklch(0.16 0.02 210);
    --card-foreground: oklch(0.77 0.07 290);
    --popover: oklch(0.16 0.02 210);
    --popover-foreground: oklch(0.77 0.07 290);
    --primary: oklch(0.77 0.07 290);
    --primary-foreground: oklch(0.99 0.1 290);
    --secondary: oklch(0.33 0.06 180);
    --secondary-foreground: oklch(0.77 0.09 180);
    --muted: oklch(0.23 0.04 210);
    --muted-foreground: oklch(0.55 0.05 210);
    --accent: oklch(0.23 0.04 210);
    --accent-foreground: oklch(0.77 0.07 290);
    --destructive: oklch(0.49 0.08 0);
    --destructive-foreground: oklch(0.96 0.01 0);
    --border: oklch(0.27 0.04 210);
    --input: oklch(0.27 0.04 210);
    --ring: oklch(0.77 0.07 290);
    --link: oklch(0.78 0.1126 258.15);
    --shadow: 0px 0px 0px 0px var(--border);
  }
}

.theme-sol {
  --background: oklch(0.94 0.03 80);
  --foreground: oklch(0.3 0.05 80);
  --card: oklch(0.94 0.03 80);
  --card-foreground: oklch(0.3 0.05 80);
  --popover: oklch(0.94 0.03 80);
  --popover-foreground: oklch(0.3 0.05 80);
  --primary: oklch(0.62 0.18 38);
  --primary-foreground: oklch(0.97 0.01 38);
  --secondary: oklch(0.78 0.08 80);
  --secondary-foreground: oklch(0.18 0.04 80);
  --muted: oklch(0.85 0.03 80);
  --muted-foreground: oklch(0.5 0.04 80);
  --accent: oklch(0.85 0.03 80);
  --accent-foreground: oklch(0.3 0.05 80);
  --destructive: oklch(0.55 0.24 25);
  --destructive-foreground: oklch(0.95 0.01 25);
  --border: oklch(0.8 0.03 80);
  --input: oklch(0.8 0.03 80);
  --ring: oklch(0.62 0.18 38);
  --link: oklch(0.6 0.1205 257.04);
  --shadow: 3px 3px 0px 0px var(--border);
  --boxShadowX: 1px;
  --boxShadowY: 0px;
  --reverseBoxShadowX: -1px;
  --reverseBoxShadowY: 0px;
  --radius: 0.725rem;
  @variant dark {
    --background: oklch(0.129 0.042 264.695);
    --foreground: oklch(0.9 0.06 80);
    --card: oklch(0.1 0.02 80);
    --card-foreground: oklch(0.9 0.06 80);
    --popover: oklch(0.1 0.02 80);
    --popover-foreground: oklch(0.9 0.06 80);
    --primary: oklch(0.62 0.18 38);
    --primary-foreground: oklch(0.97 0.01 38);
    --secondary: oklch(0.25 0.06 80);
    --secondary-foreground: oklch(0.8 0.1 80);
    --muted: oklch(0.15 0.02 80);
    --muted-foreground: oklch(0.6 0.06 80);
    --accent: oklch(0.15 0.02 80);
    --accent-foreground: oklch(0.9 0.06 80);
    --destructive: oklch(0.55 0.24 25);
    --destructive-foreground: oklch(0.95 0.01 25);
    --border: oklch(0.2 0.03 80);
    --input: oklch(0.2 0.03 80);
    --ring: oklch(0.62 0.18 38);
    --link: oklch(0.78 0.1126 258.15);
    --shadow: 3px 3px 0px 0px var(--border);
  }
}

.theme-twilight {
  --background: oklch(0.826 0.006 318.3);
  --foreground: oklch(0 0 338.3);
  --card: oklch(0.726 0.153 337);
  --card-foreground: oklch(0 0 338.3);
  --popover: oklch(0.826 0.006 318.3);
  --popover-foreground: oklch(0 0 338.3);
  --primary: oklch(0.571 0.286 327);
  --primary-foreground: oklch(0.979 0.01 60);
  --secondary: oklch(0.732 0.003 18.3);
  --secondary-foreground: oklch(0.171 0.003 343.3);
  --muted: oklch(0.699 0.143 337);
  --muted-foreground: oklch(0.171 0.003 343.3);
  --accent: oklch(0.732 0.003 18.3);
  --accent-foreground: oklch(0.171 0.003 343.3);
  --destructive: oklch(0.378 0.217 318.3);
  --destructive-foreground: oklch(0.717 0.003 18.3);
  --border: oklch(0.637 0.003 338.3);
  --input: oklch(0.637 0.003 338.3);
  --ring: oklch(0.247 0.183 285.3);
  --link: oklch(0.6 0.1205 257.04);
  --shadow: 0.5px 0.5px 0px 0px var(--border);
  --boxShadowX: 2px;
  --boxShadowY: 2px;
  --reverseBoxShadowX: -2px;
  --reverseBoxShadowY: -2px;
  --radius: 0.8rem;
  @variant dark {
    --background: oklch(0.18 0.05 305);
    --foreground: oklch(0.95 0.01 338.3);
    --card: oklch(0.24 0.07 315);
    --card-foreground: oklch(0.95 0.01 338.3);
    --popover: oklch(0.08 0.01 318.3);
    --popover-foreground: oklch(0.95 0.01 338.3);
    --primary: oklch(0.65 0.25 327);
    --primary-foreground: oklch(0.1 0.01 60);
    --secondary: oklch(0.25 0 15);
    --secondary-foreground: oklch(0.85 0.01 343.3);
    --muted: oklch(0.18 0.08 337);
    --muted-foreground: oklch(0.75 0.01 343.3);
    --accent: oklch(0.2 0.01 18.3);
    --accent-foreground: oklch(0.85 0.01 343.3);
    --destructive: oklch(0.45 0.2 318.3);
    --destructive-foreground: oklch(0.8 0.01 18.3);
    --border: oklch(0.2 0.01 338.3);
    --input: oklch(0.2 0.01 338.3);
    --ring: oklch(0.3 0.15 285.3);
    --link: oklch(0.78 0.1126 258.15);
    --shadow: 0.5px 0.5px 0px 0px var(--border);
  }
}

.theme-lofi {
  --background: oklch(1 0.02 0.04);
  --foreground: oklch(0 0 0);
  --card: oklch(1 0.02 0.04);
  --card-foreground: oklch(0 0 0);
  --popover: oklch(1 0.02 0.04);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0.051 0 337.5);
  --primary-foreground: oklch(1 0 338.2);
  --secondary: oklch(0.949 0 320);
  --secondary-foreground: oklch(0.3 0 0);
  --muted: oklch(0.9 0.02 0);
  --muted-foreground: oklch(0.3 0 0);
  --accent: oklch(0.9 0.02 0);
  --accent-foreground: oklch(0.2 0 0);
  --destructive: oklch(0.779 0.245 6.8);
  --destructive-foreground: oklch(0 0 0);
  --border: oklch(0.637 0.003 338.3);
  --input: oklch(0.637 0.003 338.3);
  --ring: oklch(0.051 0 337.5);
  --link: oklch(0.6 0.1205 257.04);
  --shadow: 0px 0px 0px 0px var(--border);
  --boxShadowX: 0px;
  --boxShadowY: 0px;
  --reverseBoxShadowX: 0px;
  --reverseBoxShadowY: 0px;
  --radius: 0.375rem;
  @variant dark {
    --background: oklch(0.1 0.01 338.2);
    --foreground: oklch(0.9 0.01 0);
    --card: oklch(0.1 0.01 338.2);
    --card-foreground: oklch(0.9 0.01 0);
    --popover: oklch(0.1 0.01 338.2);
    --popover-foreground: oklch(0.9 0.01 0);
    --primary: oklch(0.9 0.01 337.5);
    --primary-foreground: oklch(0.1 0.01 338.2);
    --secondary: oklch(0.1 0.15 300);
    --secondary-foreground: oklch(0.7 0.01 0);
    --muted: oklch(0.1 0.02 0);
    --muted-foreground: oklch(0.7 0.01 0);
    --accent: oklch(0.1 0.02 0);
    --accent-foreground: oklch(0.8 0.01 0);
    --destructive: oklch(0.221 0.2 6.8);
    --destructive-foreground: oklch(0.9 0.01 0);
    --border: oklch(0.7 0.01 0);
    --input: oklch(0.7 0.01 0);
    --ring: oklch(0.9 0.01 337.5);
    --link: oklch(0.78 0.1126 258.15);
    --shadow: 0px 0px 0px 0px var(--border);
  }
}

.theme-spooky {
  --background: oklch(0.916 0.005 334.3);
  --foreground: oklch(0.195 0.003 350);
  --card: oklch(0.916 0.005 334.3);
  --card-foreground: oklch(0.195 0.003 350);
  --popover: oklch(0.931 0.003 336);
  --popover-foreground: oklch(0.199 0.003 28.9);
  --primary: oklch(0.657 0.268 36.4);
  --primary-foreground: oklch(0.9 0 180);
  --secondary: oklch(0.726 0.316 279.4);
  --secondary-foreground: oklch(0.124 0.178 266);
  --muted: oklch(0.931 0.003 336);
  --muted-foreground: oklch(0.495 0.003 350);
  --accent: oklch(0.548 0.298 88.7);
  --accent-foreground: oklch(0.171 0.005 88);
  --destructive: oklch(0.474 0.205 3.3);
  --destructive-foreground: oklch(0.918 0.246 1.6);
  --border: oklch(0.933 0.148 31.4);
  --input: oklch(0.933 0.148 31.4);
  --ring: oklch(0.657 0.268 36.4);
  --link: oklch(0.6 0.1205 257.04);
  --shadow: 1px 2px 0px 0px var(--border);
  --boxShadowX: 0px;
  --boxShadowY: 0px;
  --reverseBoxShadowX: -0px;
  --reverseBoxShadowY: 0px;
  --radius: 0.6rem;
  @variant dark {
    --background: oklch(0.222 0.005 334.3);
    --foreground: oklch(0.84 0.003 350);
    --card: oklch(0.166 0.005 334.3);
    --card-foreground: oklch(0.84 0.003 350);
    --popover: oklch(0.15 0.003 336);
    --popover-foreground: oklch(0.835 0.015 28.9);
    --primary: oklch(0.55 0.336 36.4);
    --primary-foreground: oklch(0.084 0.004 180);
    --secondary: oklch(0.438 0.338 279.4);
    --secondary-foreground: oklch(0.873 0.193 266);
    --muted: oklch(0.15 0.003 336);
    --muted-foreground: oklch(0.505 0.003 350);
    --accent: oklch(0.34 0.357 88.7);
    --accent-foreground: oklch(0 0 0);
    --destructive: oklch(0.668 0.232 3.3);
    --destructive-foreground: oklch(0.066 0.262 1.6);
    --border: oklch(0.16 0.173 31.4);
    --input: oklch(0.16 0.173 31.4);
    --ring: oklch(0.55 0.336 36.4);
    --link: oklch(0.78 0.1126 258.15);
    --shadow: 1px 2px 0px 0px var(--border);
  }
}
